.cardCarrito{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(180, 180, 180);
    width: 700px;
    height: 279px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.cardCarrito-detalle{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.imagenCarrito{
    border-radius: 10px;
    justify-self: start;
}

.nombreCarrito{
    font-size: 20px;
}

.total{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cantidad-cart{
    display: flex;
    flex-direction: column;
}

.btnRemove{
    border: 1px solid black;
    border-radius: 10px;
    height: 20px;
    width: 25px;
}

.btnRemove:hover{
    background-color: red;
}
