.container{
    display: flex;
    flex-direction: column;
    height: 1000px;
    background-color: rgb(196, 193, 193);

}

.container h1{
    font-size: 40px;
    padding-top: 100px;
    color: black;
}

.contador{
    margin-top: 200px;
}
