.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 700px;
    background-color: rgb(196, 193, 193);

}

.container h1{
    font-size: 40px;
    color: black;
}

.titulo{
    margin-top: 100px;
}
