.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(21, 124, 250);
    position: fixed;
    width: 100%;
}

.logoNav{
    margin-left: 20px;
    list-style: none;
}

.logo{
    width: 128px;
    height: 54px;
}

.navLinks{
    margin-left: 100px;
    display: flex;
    flex-direction: row;
}

.navLinks li{
    text-decoration: none;
    list-style: none;
}

.navLinks li a{
    text-decoration: none;
    list-style: none;
    margin-right: 40px;
    margin-left: 20px;
    font-size:25px;
    color: black;
}

.navLinks li a:hover{
    color: rgb(21, 124, 250);
}

.carrito{
    margin-left: auto;
    margin-right: 20px;
}
